.caja-padre {
    width: 1400px;
    height: 1000px;
    background: white;
    position: relative;
    left: 140px;
   background-image: url("pisodeg.png");
    background-repeat: no-repeat;
    background-size: 1400px 1000px;

    
}

button{
    border:none;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    position:absolute;
    top:80px;
    left: 80px;
    height: 150px;
    width: 220px;
    background-image: url("maquina.png");
    background-repeat: no-repeat;
   background-size: 220px 150px;
   
}

.b2{
    border:none;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    outline: none;
    position:absolute;
    top:280px;
    left: 20px;
    height: 170px;
    width: 340px;
    background-image: url("maquina2.png");
    background-repeat: no-repeat;
    background-size: 340px 170px;
    cursor:pointer;
   

}

.b3{

    top:500px;
    left:80px;
    height: 200px;
    width: 380px;
    cursor:pointer;


}



.b4{

    top:720px;
    left: 80px;
    height: 200px;
    width: 380px;
    cursor:pointer;


}


.b5{

    top:80px;
    left: 1000px;
    height: 150px;
    width: 220px;
    background-image: url("mlado.png");
    background-repeat: no-repeat;
    background-size: 220px 150px;
    cursor:pointer;


}


.b6{

    top:270px;
    left: 1000px;
    height: 150px;
    width: 220px;
    background-image: url("mlado.png");
    background-repeat: no-repeat;
    background-size: 220px 150px;
    cursor:pointer;



}

.b7{

    top:710px;
    left: 1000px;
    height: 150px;
    width: 220px;
    background-image: url("mlado.png");
    background-repeat: no-repeat;
    background-size: 220px 150px;
    cursor:pointer;



}

.b8{

    top:480px;
    left: 970px;
    height: 170px;
    width: 340px;
    background-image: url("ladob.png");
    background-repeat: no-repeat;
    background-size: 340px 170px;
    cursor:pointer;


}


.monta{
    top:300px;
    left:500px;
    height: 173px;
    width: 146px;
    background-image: url("montacargas.png");
    background-repeat: no-repeat;
    background-size: 116px 143px;



}

.pallet1{

    top:220px;
    left:365px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}


.pallet2{

    top:460px;
    left:365px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}


.pallet3{

    top:670px;
    left:365px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}


.pallet4{

    top:670px;
    left:950px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}

.pallet5{

    top:460px;
    left:950px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}


.pallet6{

    top:220px;
    left:950px;
    height: 90px;
    width: 80px;
    background-image: url("pallet2.png");
    background-repeat: no-repeat;
    background-size: 80px 90px;



}

